container_commands:
  1download:
    command: "curl -o /tmp/linklivestemplate.zip -L https://github.com/CopenhagenCityArchives/linklives-wordpress-theme/archive/master.zip"
  2unzip:
    command: "unzip -o /tmp/linklivestemplate.zip -d /tmp"
  3chown:
    command: "chown -R ec2-user:ec2-user /tmp/linklives-wordpress-theme-master/wordpress/wp-content"
  4cp:
    command: "cp -r /tmp/linklives-wordpress-theme-master/wordpress/wp-content/* /wp-content"
  5composer:
    command: "docker exec eb-current-app composer -d /var/www/html/wp-content/themes/linklives"