container_commands:
  1:
    command: sed 's/${WORDPRESS_DB_HOST}/'"$WORDPRESS_DB_HOST"'/' <Dockerfile >Dockerfile
  2:
    command: sed 's/${WORDPRESS_DB_USER}/'"$WORDPRESS_DB_USER"'/' <Dockerfile >Dockerfile
  3:
    command: sed 's/${WORDPRESS_DB_PASSWORD}/'"$WORDPRESS_DB_PASSWORD"'/' <Dockerfile >Dockerfile
  4:
    command: sed 's/${WORDPRESS_DB_NAME}/'"$WORDPRESS_DB_NAME"'/' <Dockerfile >Dockerfile
  5:
    command: sed 's/${WORDPRESS_TABLE_PREFIX}/'"$WORDPRESS_TABLE_PREFIX"'/' <Dockerfile >Dockerfile    