container_commands:
  1host:
    command: "sed 's/${WORDPRESS_DB_HOST}/'\"$WORDPRESS_DB_HOST\"'/' <Dockerfile >Dockerfile"
  2user:
    command: "sed 's/${WORDPRESS_DB_USER}/'\"$WORDPRESS_DB_USER\"'/' <Dockerfile >Dockerfile"
  3pass:
    command: "sed 's/${WORDPRESS_DB_PASSWORD}/'\"$WORDPRESS_DB_PASSWORD\"'/' <Dockerfile >Dockerfile"
  4db_name:
    command: "sed 's/${WORDPRESS_DB_NAME}/'\"$WORDPRESS_DB_NAME\"'/' <Dockerfile >Dockerfile"
  5table_prefix:
    command: "sed 's/${WORDPRESS_TABLE_PREFIX}/'\"$WORDPRESS_TABLE_PREFIX\"'/' <Dockerfile >Dockerfile"    