container_commands:
  1_host:
    command: sed 's/${WORDPRESS_DB_HOST}/'"$WORDPRESS_DB_HOST"'/' <Dockerfile >Dockerfile
  2_user:
    command: sed 's/${WORDPRESS_DB_USER}/'"$WORDPRESS_DB_USER"'/' <Dockerfile >Dockerfile
  3_pass:
    command: sed 's/${WORDPRESS_DB_PASSWORD}/'"$WORDPRESS_DB_PASSWORD"'/' <Dockerfile >Dockerfile
  4_db_name:
    command: sed 's/${WORDPRESS_DB_NAME}/'"$WORDPRESS_DB_NAME"'/' <Dockerfile >Dockerfile
  5_table_prefix:
    command: sed 's/${WORDPRESS_TABLE_PREFIX}/'"$WORDPRESS_TABLE_PREFIX"'/' <Dockerfile >Dockerfile    